{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {},
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "rules": {
    "semi": "warn"
  }
}
